# ArcGIS Online App Registration ID (required for OAuth login)
VITE_ARCGIS_APP_ID=

# Master switch: set to true to enable ArcGIS Online sync
VITE_ARCGIS_ENABLED=false

# ArcGIS Online Portal URL
VITE_PORTAL_URL=https://beredskap.maps.arcgis.com

# External layer URLs
VITE_SKOLER_BARNEHAGER_URL=https://services.geodataonline.no/arcgis/rest/services/Geocache_UTM33_EUREF89/GeocacheBarnehageSkole/FeatureServer/0

# ArcGIS Search locator portal item ID
VITE_SEARCH_LOCATOR_ITEM_ID=0727269857e14e088e3b10dd28663a89
